/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page__padding: 10px;
  --main__gap: 50px;
  --main__padding: 40px;

  @media (width >= 768px) {
    --page__padding: 20px;
    --main__padding: 60px;
    --main__gap: 80px;
  }
}
